.h-control-sm {
  height: var(--size-control-sm);
}
.h-control-md {
  height: var(--size-control-md);
}
.h-control-lg {
  height: var(--size-control-lg);
}

.px-control-sm {
  padding-inline: 12px;
}
.px-control-md {
  padding-inline: 16px;
}
.px-control-lg {
  padding-inline: 20px;
}

.icon-sm {
  width: var(--size-icon-sm);
  height: var(--size-icon-sm);
}
.icon-md {
  width: var(--size-icon-md);
  height: var(--size-icon-md);
}
.icon-lg {
  width: var(--size-icon-lg);
  height: var(--size-icon-lg);
}
