.text-h1 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  line-height: 1.219;
}

.text-h1-regular {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  line-height: 1.219;
}

.text-h2 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: 1.219;
}

.text-m {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: 1.219;
}

.text-m-bold {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  line-height: 15px;
}

.text-s {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: 1.25;
}

.text-s-bold {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  line-height: 1.25;
}

.text-xs {
  font-size: var(--font-size-2xs);
  font-weight: var(--font-weight-regular);
  line-height: 1.219;
}
