:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-green-100: #097f2d;
  --color-green-90: #009639;
  --color-green-80: #72ca94;
  --color-green-50: #009639;

  --color-blue-70: #e2e9ec;
  --color-blue-60: #f4f7f8;
  --color-blue-50: #aabdc7;
  --color-blue-40: #d3dde2;
  --color-blue-30: #cfd7db;

  --color-grey-100: #000000;
  --color-grey-80: #999999;
  --color-grey-70: #464e56;
  --color-grey-50: #f9f9f9;
  --color-grey-40: #cdcdcd;
  --color-grey-20: #d9d9d9;

  --color-orange: #ed6e1c;

  --color-bg-input: rgba(182, 199, 207, 0.15);
  --color-bg-input-disabled: rgba(218, 218, 218, 0.15);
  --color-text-error: #ed6e1c;
  --color-text-disabled: #e1e1e1;
  --color-text-placeholder: rgba(120, 151, 166, 0.6);
  --color-stroke-primary: rgba(162, 177, 184, 0.51);
  --color-stroke-hover: rgba(162, 177, 184, 0.8);
  --color-stroke-error: #ed6e1c;
  --color-stroke-disabled: rgba(225, 225, 225, 0.51);

  --color-scrollbar-thumb: #91acc5;
  --color-scrollbar-track: transparent;

  --color-bg-primary: linear-gradient(148deg, #d4dfe4 5.76%, #fff 100%);
  --color-bg-overlay-white-1: radial-gradient(
    32.66% 38.4% at 82.06% 39.23%,
    #fff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  --color-bg-overlay-white-2: radial-gradient(
    75.88% 74.87% at 16.09% 15.2%,
    #fff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  --color-bg-overlay-green: radial-gradient(
    52.7% 37.28% at 12.59% 7.41%,
    rgba(0, 150, 57, 0.2) 0%,
    rgba(0, 150, 57, 0) 100%
  );
  --color-bg-overlay-blue: radial-gradient(
    199.02% 83.88% at 50% 50.75%,
    rgba(20, 83, 171, 0.2) 0%,
    rgba(20, 83, 171, 0.15) 65.4%,
    rgba(20, 83, 171, 0) 100%
  );
  --color-bg-secondary: var(--color-blue-60);
  --color-bg-backdrop: rgba(0, 0, 0, 0.5);
}
