html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: var(--color-bg-overlay-white-1), var(--color-bg-overlay-white-2),
    var(--color-bg-overlay-green), var(--color-bg-overlay-blue), var(--color-bg-primary);
  color: var(--color-black);
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-black);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

figure {
  margin: 0;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
  border-radius: var(--scrollbar-thumb-radius);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
}
